.rasmlar{
    width: 90%;
    padding: 2% 7%;
    background: #fff;
    display: flex;
    align-items: center;
    margin: auto;   
    border-radius: 20px;
    margin-top: 30px;
}
.rasmlar img{
    width: 140px;
    height: 60px;
    object-fit: contain;
    /* border: 2px solid red; */
}