.nav_bottom{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 5%;
    gap: 70px;
    margin-top: 2px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}
.nav_flex{
    display: flex;
}
.nav_flex > svg {
    color: #008DFF;
    font-size: 20px;
}